.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  header {
    margin-bottom: 30px;
  }
  
  .col-md-4 {
    margin-bottom: 30px;
  }
  
  .card {
    padding: 0px;
    padding-bottom: 20px;
    width: 200px;
    height: 80px;
    background-color: rgb(251, 247, 255);
    border: solid 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0.25s
  }
  .card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
    color: rgb(245, 224, 255);
    background-color: rgb(162, 114, 206);
    border: solid 1px rgba(229, 184, 255, 0.2);
  }
  .card-title {
    margin-top: 5px;
  }
  .card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
  .card-text .fa {
    font-size: 26px;
  }
  .avatar {
    width: 140px;
    margin: auto;
  }
  .avatar img {
    border: solid 6px transparent;
    border-radius: 50%;
  }
  .card:hover .avatar img {
    border-color: rgb(99, 204, 131);
  }
  
  .btn {
    border-radius: 25px;
  }
  
  footer p {
    color: rgba(0, 0, 0, 0.6);
  }
  
  footer p a,
  footer p a:hover {
    color: rgb(99, 204, 131);
  }
  